<div class="container">
  <div class="row">
    <div class="col-auto  mr-auto">
      <h3>Архив запросов</h3>
    </div>
  </div>
</div>

<br>
<% @search_queries.each do |search_query| %>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <span class="badge float-sm-right"><%= "#{search_query.status} - #{search_query.counter}" %></span>
      <h5 class="card-title"><%= link_to search_query.title, search_query, class: 'card-link' %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= l search_query.created_at, format: :short %></h6>
      <br>
      <a data-toggle="collapse" href="#collapse_list_<%= search_query.id.to_s %>">Адреса</a>
      <ul class="list-group collapse" id="collapse_list_<%= search_query.id.to_s %>">
        <% search_query.locations.each do |location| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= location.full_address %>
            <span class="badge"><%= location.status %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
<% end %>
