<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control' %>
  </div>

  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <div class="form-group">
        <%= location_form.label 'Город' %>
        <%= location_form.text_field :city, placeholder: 'Томск', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location_form.label 'Улица' %>
        <%= location_form.text_field :street, placeholder: 'Елизаровых', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location_form.label 'Дом' %>
        <%= location_form.text_field :house, placeholder: '1', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location_form.label 'Квартира' %>
        <%= location_form.text_field :room, placeholder: '10', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.add_nested_fields_link :locations %>
        |
        <%= location_form.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
