<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-auto  mr-auto">
      <h3>Список запросов</h3>
    </div>
    <div class="col-auto">
      <%= link_to 'Новый запрос', new_search_query_path ,class: 'btn btn-success' %>
    </div>
  </div>
</div>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Описание запроса</th>
      <th>Список адресов</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_queries.each do |search_query| %>
      <tr>
        <td><%= search_query.title %></td>
        <td>
          <ul>
            <% search_query.locations.each do |location| %>
              <li><%= "г. #{location.city}, ул. #{location.street}, д. #{location.house} кв. #{location.room}"%></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Просмотр', search_query %></td>
        <td><%= link_to 'Удаление', search_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
