<p id="notice"><%= notice %></p>

<h1>Search Queries</h1>

<%= link_to 'New Search Query', new_search_query_path %>
<table class="table">
  <thead>
    <tr>
      <th>Search uid</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_queries.each do |search_query| %>
      <tr>
        <td><%= search_query.search_uid %></td>
        <td>
        <ul>
        <% search_query.locations.each do |location| %>
          <li><%= "#{location.city} #{location.street} #{location.house}" "#{location.room}"%></li>
        <% end %>
        </ul>
      </td>
        <td><%= link_to 'Show', search_query %></td>
        <td><%= link_to 'Delete', search_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
