<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @search_query.title %>
</p>

<p>
  <strong>Адрес:</strong>
  <ul>
  <% @search_query.locations.each do |location| %>
    <li><%= "г. #{location.city}, ул. #{location.street}, д. #{location.house} кв. #{location.room}"%></li>
    <%= link_to 'Детали', search_query_location_path(@search_query,location) %>
  <% end %>
</ul>
</p>

<%= link_to 'Назад', search_queries_path %>
