<span class="badge"><%= @location.status %></span>
<p>ID: <%= @location.id %></p>
<p>Улица: <%= @location.street %></p>
<p>Дом: <%= @location.house %></p>
<p>Комната: <%= @location.room %></p>
<%= link_to "Назад", :back %>
