<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Hawthorn Reestr Service', root_path, class: "navbar-brand" %>
  <span class="badge badge-secondary"><%= Rails.env if Rails.env == 'development' %></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if true %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Запросы', search_queries_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Архив', search_queries_path(archive: "yes"), class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <%= render "devise/shared/links" %>
      </ul>
    <% end %>
  </div>
</nav>
