<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new?kdasrt=true'">Кадастр</div>
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new'">Адрес</div>
  </div>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="address / район:">Введите адрес:</label>
    <input id="address" name="address" type="text" class="form-control" />
  </div>
  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <div class="form-group">
        <%= location_form.label 'Регион / район:' %>
        <%= location_form.text_field :region, id: 'region', class: 'form-control', required: true, readonly: true %>
      </div>

      <% if params[:kdasrt] %>
        <div class="form-group">
          <%= location_form.label 'Кадастровый номер' %>
          <%= location_form.text_field :kdastr_id, placeholder: 'Кадастровый номер', class: 'form-control', required: true %>
          <%= location_form.hidden_field :use_kdastr, value: true %>
        </div>
      <% else %>

        <div class="form-group">
          <%= location_form.label 'Город / населенный пункт' %>
          <%= location_form.text_field :district, id: 'town', class: 'form-control', required: true, readonly: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Улица' %>
          <%= location_form.text_field :street_name, id: 'street', class: 'form-control', required: true, readonly: true %>
        </div>

        <div class="form-gdisabledroup">
          <%= location_form.label 'Тип улицы' %>
          <%= location_form.text_field :street_type, id: 'street_type', class: 'form-control', required: true, readonly: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Дом' %>
          <%= location_form.text_field :house_number, id: 'house', class: 'form-control', required: true, readonly: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Квартира' %>
          <%= location_form.text_field :apartment, id: 'flat', class: 'form-control', readonly: true %>
        </div>

      <% end %>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit 'Создать запрос', class: 'btn btn-outline-success' %>
  </div>
<% end %>
<script type="text/javascript">

function join(arr /*, separator */) {
  var separator = arguments.length > 1 ? arguments[1] : ", ";
  return arr.filter(function(n){return n}).join(separator);
}

function showRegion(address) {
  $("#region").val(join([address.region, address.region_type_full], " "));
}

function showCity(address) {
  $("#town").val(address.city);
}

function showStreetType(address) {
  $("#street_type").val(address.street_type_full);
}

function showStreet(address) {
  $("#street").val(address.street);
}

function showHouse(address) {
  $("#house").val(join([
    address.house,
    address.block
  ]));
}

function showFlat(address) {
  $("#flat").val(address.flat);
}

function showSelected(suggestion) {
  var address = suggestion.data;
  showRegion(address);
  showCity(address);
  showStreet(address);
  showStreetType(address);
  showHouse(address);
  showFlat(address);
}

$("#address").suggestions({
  token: "<%= ['130f2a2c8d6f301798e11062b428edc776161e7e', 'ae6ed2054f8821f87cd3edecd103f24f09ca59a7', 'c35ed7c545a7d91ff5e0b13924a2aa5326917744'].sample %>",
  type: "ADDRESS",
  onSelect: showSelected
});
</script>
