<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new?kdasrt=true'">Кадастр</div>
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new'">Адрес</div>
  </div>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control', required: true %>
  </div>
  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <% if params[:kdasrt] %>
        <div class="form-group">
          <%= location_form.label 'Кадастровый номер' %>
          <%= location_form.text_field :kdastr_id, placeholder: 'Кадастровый номер', class: 'form-control', required: true %>
          <%= location_form.hidden_field :use_kdastr, value: true %>
        </div>
      <% else %>

        <div class="form-group">
          <%= location_form.label 'Область' %>
          <%= location_form.text_field :region, placeholder: 'Область', class: 'form-control', value: 'Томская область', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Город (Район)' %>
          <%= location_form.text_field :district, placeholder: 'Город (Район)', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Населенный пункт' %>
          <%= location_form.text_field :populated_area, placeholder: 'Населенный пункт', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Тип улицы' %>
          <%= location_form.text_field :street_type, placeholder: 'Тип улицы', class: 'form-control autocomplete', value: 'Улица', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Название улицы' %>
          <%= location_form.text_field :street_name, placeholder: 'Название улицы', class: 'form-control', value: 'Красноармейская', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Номер дома' %>
          <%= location_form.text_field :house_number, placeholder: 'Номер дома', class: 'form-control', value: '148', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Квартира' %>
          <%= location_form.text_field :apartment, placeholder: 'Квартира', class: 'form-control', value: '26' %>
        </div>

      <% end %>
      <div class="form-group">
        <%= form.add_nested_fields_link :locations, 'Добавить новый адрес' %>
        |
        <%= location_form.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit 'Создать запрос', class: 'btn btn-outline-success' %>
  </div>
<% end %>

<script>
  $(function() {
    var availableTags = [
      "Улица", "Переулок", "Проспект", "Площадь", "Микрорайон", "Аллея",
      "Бульвар", "Аал", "Аул", "Въезд", "Выселки", "Городок", "Деревня",
      "Дорога", "ж/д остановочный (обгонный) пункт", "Железнодорожная будка",
      "Железнодорожная казарма", "Железнодорожная платформа",
      "Железнодорожная станция", "Железнодорожный пост",
      "Железнодорожный разъезд", "Животноводческая точка", "Заезд", "Казарма",
      "Квартал", "Километр", "Кольцо", "Линия", "Местечко", "Набережная",
      "Населенный пункт", "Остров", "Парк", "Переезд", "Планировочный район",
      "Платформа", "Площадка", "Полустанок", "Поселок/станция",
      "Поселок сельского типа", "Починок", "Почтовое отделение", "Проезд",
      "Просек", "Проселок", "Проулок", "Разъезд", "Сад", "Село", "Сквер",
      "Слобода", "Станция", "Строение", "Территория", "Тракт", "Тупик",
      "Участок", "Хутор", "Шоссе"
    ];
    $(".autocomplete").autocomplete({
      source: availableTags
    });
  });
</script>
