<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new?kdasrt=true'">Кадастр</div>
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new'">Адрес</div>
  </div>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control', required: true %>
  </div>
  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <div class="form-group">
        <%= location_form.label 'Область' %>
        <%= location_form.text_field :region, id: 'region', placeholder: 'Область', class: 'form-control', required: true %>
      </div>

      <% if params[:kdasrt] %>
        <div class="form-group">
          <%= location_form.label 'Кадастровый номер' %>
          <%= location_form.text_field :kdastr_id, placeholder: 'Кадастровый номер', class: 'form-control', required: true %>
          <%= location_form.hidden_field :use_kdastr, value: true %>
        </div>
      <% else %>
        <div class="form-group">
          <%= location_form.label 'Город (Район)' %>
          <%= location_form.text_field :district, placeholder: 'Город (Район)', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Населенный пункт' %>
          <%= location_form.text_field :populated_area, placeholder: 'Населенный пункт', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Тип улицы' %>
          <%= location_form.text_field :street_type, id: 'street', placeholder: 'Тип улицы', class: 'form-control', value: 'Улица', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Название улицы' %>
          <%= location_form.text_field :street_name, placeholder: 'Название улицы', class: 'form-control', value: 'Красноармейская', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Номер дома' %>
          <%= location_form.text_field :house_number, placeholder: 'Номер дома', class: 'form-control', value: '148', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Квартира' %>
          <%= location_form.text_field :apartment, placeholder: 'Квартира', class: 'form-control', value: '26' %>
        </div>

      <% end %>
      <div class="form-group">
        <%= form.add_nested_fields_link :locations, 'Добавить новый адрес' %>
        |
        <%= location_form.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit 'Создать запрос', class: 'btn btn-outline-success' %>
  </div>
<% end %>

<script>
  $(function() {
    var type_street = [
      "Улица", "Переулок", "Проспект", "Площадь", "Микрорайон", "Аллея",
      "Бульвар", "Аал", "Аул", "Въезд", "Выселки", "Городок", "Деревня",
      "Дорога", "ж/д остановочный (обгонный) пункт", "Железнодорожная будка",
      "Железнодорожная казарма", "Железнодорожная платформа",
      "Железнодорожная станция", "Железнодорожный пост",
      "Железнодорожный разъезд", "Животноводческая точка", "Заезд", "Казарма",
      "Квартал", "Километр", "Кольцо", "Линия", "Местечко", "Набережная",
      "Населенный пункт", "Остров", "Парк", "Переезд", "Планировочный район",
      "Платформа", "Площадка", "Полустанок", "Поселок/станция",
      "Поселок сельского типа", "Починок", "Почтовое отделение", "Проезд",
      "Просек", "Проселок", "Проулок", "Разъезд", "Сад", "Село", "Сквер",
      "Слобода", "Станция", "Строение", "Территория", "Тракт", "Тупик",
      "Участок", "Хутор", "Шоссе"
    ];
    var region = [
      "Ямало-Ненецкий АО", "Краснодарский край", "Алтайский край",
      "Красноярский край", "Ставропольский край", "Приморский край",
      "Белгородская область", "Брянская область", "Хабаровский край",
      "Астраханская область", "Архангельская область", "Ненецкий АО",
      "Амурская область", "Вологодская область", "Волгоградская область",
      "Владимирская область", "Нижегородская область", "Воронежская область",
      "Иркутская область", "Республика Ингушетия", "Калининградская область",
      "Ивановская область", "Тверская область", "Кировская область",
      "Кемеровская область", "Камчатский край", "Калужская область",
      "Самарская область", "Костромская область", "Липецкая область",
      "Ленинградская область", "Курская область", "Санкт-Петербург",
      "Мурманская область", "Курганская область", "Новгородская область",
      "Москва", "Магаданская область", "Московская область",
      "Оренбургская область", "Омская область", "Орловская область",
      "Новосибирская область", "Пермский край", "Псковская область",
      "Пензенская область", "Ростовская область", "Саратовская область",
      "Свердловская область", "Сахалинская область", "Рязанская область",
      "Тамбовская область", "Тульская область", "Томская область",
      "Смоленская область", "Ульяновская область", "Забайкальский край",
      "Челябинская область", "Тюменская область", "Ханты-Мансийский АО",
      "Республика Адыгея", "Республика Башкортостан", "Чукотский АО",
      "Ярославская область", "Республика Алтай", "Республика Калмыкия",
      "Республика Марий Эл", "Кабардино-Балкарская Республика",
      "Республика Коми", "Республика Карелия",
      "Республика Бурятия", "Республика Дагестан", "Республика Тыва",
      "Удмуртская Республика", "Республика Татарстан", "Республика Северная Осетия",
      "Карачаево-Черкесская Республика", "Республика Саха (Якутия)",
      "Чеченская Республика", "Чувашская Республика", "Республика Хакасия",
      "Республика Мордовия", "Еврейская А.обл.", "Республика Крым",
      "Севастополь"
    ];
    $("#street").autocomplete({
      source: type_street
    });
    $("#region").autocomplete({
      source: region
    });
  });
</script>
