<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new?kdasrt=true'">Кадастр</div>
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new'">Адрес</div>
  </div>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control', required: true %>
  </div>
  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <div class="form-group">
        <%= location_form.label 'Область' %>
        <%= location_form.text_field :region, id: 'region', placeholder: 'Область', class: 'form-control', required: true %>
      </div>

      <% if params[:kdasrt] %>
        <div class="form-group">
          <%= location_form.label 'Кадастровый номер' %>
          <%= location_form.text_field :kdastr_id, placeholder: 'Кадастровый номер', class: 'form-control', required: true %>
          <%= location_form.hidden_field :use_kdastr, value: true %>
        </div>
      <% else %>
        <div class="form-group">
          <%= location_form.label 'Город (Район)' %>
          <%= location_form.text_field :district, id: 'city', placeholder: 'Город (Район)', class: 'form-control', value: 'Томск', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Населенный пункт' %>
          <%= location_form.text_field :populated_area, placeholder: 'Населенный пункт', class: 'form-control' %>
        </div>

        <%= location_form.hidden_field :street_type, id: 'type_street', placeholder: 'Тип улицы', class: 'form-control', required: true %>
        <%= location_form.hidden_field :street_name, id: 'street_name', placeholder: 'Название улицы', class: 'form-control', required: true %>

        <div class="form-group">
          <%= location_form.label 'Название улицы' %>
          <input placeholder="Название улицы" class="form-control" type="text" id="full_street">
        </div>

        <div class="form-group">
          <%= location_form.label 'Номер дома' %>
          <%= location_form.text_field :house_number, placeholder: 'Номер дома', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Квартира' %>
          <%= location_form.text_field :apartment, placeholder: 'Квартира', class: 'form-control' %>
        </div>

      <% end %>
      <div class="form-group">
        <%= form.add_nested_fields_link :locations, 'Добавить новый адрес' %>
        |
        <%= location_form.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit 'Создать запрос', class: 'btn btn-outline-success' %>
  </div>
<% end %>

<script>
    $(function () {
        var type_street = [
            "Улица", "Переулок", "Проспект", "Площадь", "Микрорайон", "Аллея",
            "Бульвар", "Аал", "Аул", "Въезд", "Выселки", "Городок", "Деревня",
            "Дорога", "Ж/д остановочный (обгонный) пункт", "Железнодорожная будка",
            "Железнодорожная казарма", "Железнодорожная платформа",
            "Железнодорожная станция", "Железнодорожный пост",
            "Железнодорожный разъезд", "Животноводческая точка", "Заезд", "Казарма",
            "Квартал", "Километр", "Кольцо", "Линия", "Местечко", "Набережная",
            "Населенный пункт", "Остров", "Парк", "Переезд", "Планировочный район",
            "Платформа", "Площадка", "Полустанок", "Поселок/станция",
            "Поселок сельского типа", "Починок", "Почтовое отделение", "Проезд",
            "Просек", "Проселок", "Проулок", "Разъезд", "Сад", "Село", "Сквер",
            "Слобода", "Станция", "Строение", "Территория", "Тракт", "Тупик",
            "Участок", "Хутор", "Шоссе"
        ];
        var region = [
            "Ямало-Ненецкий АО", "Краснодарский край", "Алтайский край",
            "Красноярский край", "Ставропольский край", "Приморский край",
            "Белгородская область", "Брянская область", "Хабаровский край",
            "Астраханская область", "Архангельская область", "Ненецкий АО",
            "Амурская область", "Вологодская область", "Волгоградская область",
            "Владимирская область", "Нижегородская область", "Воронежская область",
            "Иркутская область", "Республика Ингушетия", "Калининградская область",
            "Ивановская область", "Тверская область", "Кировская область",
            "Кемеровская область", "Камчатский край", "Калужская область",
            "Самарская область", "Костромская область", "Липецкая область",
            "Ленинградская область", "Курская область", "Санкт-Петербург",
            "Мурманская область", "Курганская область", "Новгородская область",
            "Москва", "Магаданская область", "Московская область",
            "Оренбургская область", "Омская область", "Орловская область",
            "Новосибирская область", "Пермский край", "Псковская область",
            "Пензенская область", "Ростовская область", "Саратовская область",
            "Свердловская область", "Сахалинская область", "Рязанская область",
            "Тамбовская область", "Тульская область", "Томская область",
            "Смоленская область", "Ульяновская область", "Забайкальский край",
            "Челябинская область", "Тюменская область", "Ханты-Мансийский АО",
            "Республика Адыгея", "Республика Башкортостан", "Чукотский АО",
            "Ярославская область", "Республика Алтай", "Республика Калмыкия",
            "Республика Марий Эл", "Кабардино-Балкарская Республика",
            "Республика Коми", "Республика Карелия",
            "Республика Бурятия", "Республика Дагестан", "Республика Тыва",
            "Удмуртская Республика", "Республика Татарстан", "Республика Северная Осетия",
            "Карачаево-Черкесская Республика", "Республика Саха (Якутия)",
            "Чеченская Республика", "Чувашская Республика", "Республика Хакасия",
            "Республика Мордовия", "Еврейская А.обл.", "Республика Крым",
            "Севастополь"
        ];
        var city = [
            "Кедровый", "Северск", "Стрежевой", "Томск", "Александровский", "Асиновский",
            "Бакчарский", "Верхнекетский", "Зырянский", "Каргасокский", "Кожевниковский",
            "Колпашевский", "Кривошеинский", "Молчановский", "Парабельский", "Первомайский",
            "Тегульдетский", "Томский", "Чаинский", "Шегарский"
        ];
        var full_street = [
            "Авиатор Поселок", "Апрель Поселок", "Ближний Поселок", "Восточный Поселок",
            "Геологов Поселок", "Гидрогеологическая Партия Поселок", "Дзержинское Село",
            "Заварзино Поселок", "Заречный Поселок", "Заречный 2-й Поселок", "Каменка Микрорайон",
            "Каштак Поселок", "Киргизка Деревня", "Кирзавод 3 Поселок", "Копылово Железнодорожная станция",
            "Крольчатник Поселок", "Крутоовражный Поселок", "Ксензовка Поселок", "Кузовлево Поселок",
            "Лесавиа Поселок", "Лоскутово Деревня", "ЛПК 2-й Поселок", "Мясокомбинат Поселок",
            "Наука Микрорайон", "Нефтяников Поселок", "Нефтяной Поселок", "Нефтяной 1-й Поселок",
            "Нефтяной 2-й Поселок", "Ново-Карьерный Поселок", "Озерки Поселок",
            "Потаповы Лужки Поселок", "Предтеченск Поселок", "Просторный Поселок",
            "Радиоцентр Поселок", "Родионово Поселок", "Родник Поселок",
            "Росинка Поселок", "Светлый Поселок", "сдт Березка-89 (д Лоскутово) Территория",
            "сдт Горремстрой (ж/д Копылово) Территория", "сдт Радиоцентр Территория",
            "сдт Созвездие Территория", "снт Родник (с Тимирязевское) Территория",
            "Спутник Поселок", "СТ 'Ягодка-90' Садовое товарищество", "СТ Агро Территория",
            "СТ Бекон (ж.д. Копылово) Территория", "СТ Березка Территория", "СТ Бурундук Территория",
            "СТ Вагонник Территория", "СТ Весна ( пос. Светлый) Территория", "СТ Ветеран Территория",
            "СТ Виктория (пос. Заварзино) Территория", "СТ Виктория (пос. Кузовлево) Территория", "СТ Вишня Территория",
            "СТ Возрождение Территория",
            "СТ Восток Территория",
            "СТ Восход-1 Территория",
            "СТ Геолог-1 Территория",
            "СТ Геолог-2 Территория",
            "СТ Дорожник Светлый (поселок) Территория",
            "СТ Дружба Территория",
            "СТ Зайчик Территория",
            "СТ Заря (пос. Бактин) Территория",
            "СТ Заря (пос. Светлый) Территория",
            "СТ Заря-2 Территория",
            "СТ Звезда (п. Светлый) Территория",
            "СТ Звезда (пос. Бактин) Территория",
            "СТ Звездный Территория",
            "СТ Зорька Территория",
            "СТ им. Мичурина Территория",
            "СТ Калинка Территория",
            "СТ Калинка (пос. Светлый) Территория",
            "СТ Кедр (пос. Заварзино) Территория",
            "СТ Кедр-1 Территория",
            "СТ Кедр-2 Территория",
            "СТ Кедр-2 (пос. Заварзино) Территория",
            "СТ Коммунальщик Территория",
            "СТ Косогор Территория",
            "СТ Ландыш Территория",
            "СТ Левобережье Территория",
            "СТ Лилия (пос. Куташево) Территория",
            "СТ Малютка (ж.д. станция Копылово) Территория",
            "СТ Мебельщик Территория",
            "СТ Медик-2 Территория",
            "СТ Мемориал Территория",
            "СТ Мечта Территория",
            "СТ Микрон Территория",
            "СТ Мичуринец Территория",
            "СТ Мотор Территория",
            "СТ Надежда (пос. Бактин) Территория",
            "СТ Нерудник Территория",
            "СТ Нива (пос. Светлый) Территория",
            "СТ Отдых (пос. Светлый) Территория",
            "СТ Пенсионер Территория",
            "СТ Пойменный Территория",
            "СТ Поляна Территория",
            "СТ Полянка Территория",
            "СТ Приречный Территория",
            "СТ Радуга Территория",
            "СТ Рассвет Территория",
            "СТ Рассвет НПО Вирион Территория",
            "СТ Роботрон Территория",
            "СТ Родник (Тимирязевское (село)) Территория",
            "СТ Родник-2 (дер. Лоскутово) Территория",
            "СТ Ромашка Территория",
            "СТ Роща Территория",
            "СТ Рябинка (ж.д. ст. Копылово) Территория",
            "СТ Рябинка (пос. Светлый) Территория",
            "СТ Светлячок (пос. Светлый) Территория",
            "СТ Связист Территория",
            "СТ Связист-1 (пос. Радиоцентр 8) Территория",
            "СТ Связист-2 (пос.Бактин) Территория",
            "СТ Связист-3 (пос.Заварзино) Территория",
            "СТ Связист-4 Территория",
            "СТ Сирень-1 Территория",
            "СТ Созвездие Территория",
            "СТ Строитель Территория",
            "СТ Теплотехник Территория",
            "СТ Тимирязевец (Дзержинское (село)) Территория",
            "СТ Томич (пос. Аникино) Территория",
            "СТ Томич (пос. Родионово) Территория",
            "СТ Томский садовод Территория",
            "СТ Томское Территория",
            "СТ Томь-1 Территория",
            "СТ Томь-3 Территория",
            "СТ Урожай (пос. Светлый) Территория",
            "СТ Урожай-Д Территория",
            "СТ Утро Территория",
            "СТ Ушайка Территория",
            "СТ Центральное Территория",
            "СТ Эко Территория",
            "СТ Эфир Территория",
            "СТ Южный Территория",
            "Стародеповской Поселок",
            "СУ Поселок",
            "Тимирязевское Село",
            "Угольный Поселок",
            "Учхоз Поселок",
            "Холмы Поселок",
            "Хромовка Поселок",
            "Чекист Поселок",
            "Штамово Поселок",
            "Эушта Деревня",
            "19-й Гвардейской дивизии Улица",
            "1905 года Переулок",
            "30-летия Победы Улица",
            "350-летия г. Томска Улица",
            "5-й Армии Улица",
            "79-й Гвардейской дивизии Улица",
            "Автомоторный Переулок",
            "Азербайджанская Улица",
            "Азиатская Улица",
            "Азиатский Переулок",
            "Айвазовского Улица",
            "Академика Пилюгина Улица",
            "Академический Микрорайон",
            "Академический Проспект",
            "Академический 2-й Микрорайон",
            "Албанский Переулок",
            "Александра Невского Улица",
            "Александровский Проезд",
            "Алеутская Улица",
            "Алеутский 1-й Переулок",
            "Алеутский 2-й Переулок",
            "Алтайская Улица",
            "Амурская Улица",
            "Ангарская Улица",
            "Ангарский Переулок",
            "Андрея Крячкова Улица",
            "Анжерский Переулок",
            "Аникинский 1-й Переулок",
            "Аникинский 2-й Переулок",
            "Аникинский 3-й Переулок",
            "Аникинский 4-й Тупик",
            "Аникинский 4-й Переулок",
            "Аникинский 5-й Переулок",
            "Аникинский 6-й Переулок",
            "Аптекарский Переулок",
            "Аркадия Иванова Улица",
            "Армянский Переулок",
            "Артельный Переулок",
            "Артема Улица",
            "Архангельский Переулок",
            "Архитекторов Улица",
            "Асиновская Улица",
            "Асфальтовый Переулок",
            "Ачинская Улица",
            "Аэродромная Улица",
            "Базарный Переулок",
            "Бакинский Переулок",
            "Бакунина Улица",
            "Балагурная Улица",
            "Балтийская Улица",
            "Барабинский Переулок",
            "Баранчуковский Переулок",
            "Баратынского Улица",
            "Баргузинская Улица",
            "Барнаульская Улица",
            "Барнаульский Переулок",
            "Барнаульский Проезд",
            "Бархатная Улица",
            "Басандайская Улица",
            "Басандайский 1-й Переулок",
            "Басандайский 2-й Переулок",
            "Басандайский 3-й Переулок",
            "Басандайский 4-й Переулок",
            "Басандайский 5-й Переулок",
            "Басандайский 6-й Переулок",
            "Батенькова Переулок",
            "Батенькова Площадь",
            "Батистовая Улица",
            "Баумана Переулок",
            "Баумана Улица",
            "Башкирский Переулок",
            "Безымянный Переулок",
            "Бела Куна Улица",
            "Белая Улица",
            "Белградский Переулок",
            "Беленца Алексея Улица",
            "Белинского Проезд",
            "Белинского Улица",
            "Белозерская Улица",
            "Белозерский Переулок",
            "Беломорская Улица",
            "Бердская Улица",
            "Береговой Переулок",
            "Березовая Улица",
            "Березовский Переулок",
            "Беринга Улица",
            "Бийская Улица",
            "Бирюкова Улица",
            "Ближний Поселок",
            "Блокпост Улица",
            "Богашевский Тракт",
            "Богашевский Переулок",
            "Богдана Хмельницкого Переулок",
            "Богдана Хмельницкого Улица",
            "Болотникова Ивана Улица",
            "Болотный Переулок",
            "Больничная Улица",
            "Больничный Переулок",
            "Большая Каштачная Улица",
            "Большая Подгорная Улица",
            "Боровая Улица",
            "Бородинская Улица",
            "Ботанический Переулок",
            "Братская Улица",
            "Братьев Васильевых Улица",
            "Брусничный Переулок",
            "Брянская Улица",
            "Брянский Переулок",
            "Булгакова Улица",
            "Буткеевская Улица",
            "Буткеевский Переулок",
            "Буяновский Переулок",
            "Вавилова Улица",
            "Вагонный Переулок",
            "Ванцетти Переулок",
            "Васильковый Переулок",
            "Васюганская Улица",
            "Ватутина Улица",
            "Венгерская Улица",
            "Верхний Переулок",
            "Вершинина Проезд",
            "Вершинина Улица",
            "Весенняя Улица",
            "Ветровая Улица",
            "Ветряная Улица",
            "Виктора Хабарова Улица",
            "Вилюйская Улица",
            "Вилюйский Проезд",
            "Вилюйский 1-й Проезд",
            "Витебский Переулок",
            "Витимская Улица",
            "Водопроводная Улица",
            "Водопроводный Переулок",
            "Водяная Улица",
            "Водяной 1-й Переулок",
            "Водяной 2-й Переулок",
            "Военный Переулок",
            "Войкова Переулок",
            "Войкова Улица",
            "Войлочная Улица",
            "Войлочная заимка Улица",
            "Вокзальная Улица",
            "Волгоградская Улица",
            "Волгоградский Переулок",
            "Волжская Улица",
            "Воронежский Переулок",
            "Воскресенский взвоз Улица",
            "Восточная Улица",
            "Восточный Переулок",
            "Восточный Поселок",
            "Встречный Переулок",
            "Вузовский Переулок",
            "Выборгский Переулок",
            "Высоцкого Владимира Улица",
            "Гагарина Улица",
            "Гамалея Улица",
            "Географическая Улица",
            "Геологов Проезд",
            "Герасименко Улица",
            "Героев Чубаровцев Улица",
            "Герцена Улица",
            "Глухой Переулок",
            "Говорова Улица",
            "Гоголя Улица",
            "Горшковский Переулок",
            "Горького Максима Улица",
            "Грибная Улица",
            "Грибоедова Улица",
            "Григорьева Улица",
            "Грузинская Улица",
            "Грунтовая Улица",
            "Дальне-Ключевская Улица",
            "Дальневосточная Улица",
            "Дальний Переулок",
            "Дальняя Улица",
            "Дамбовая Улица",
            "Даниловский Переулок",
            "Дачная 1-я Улица",
            "Дачная 2-я Улица",
            "Демьяна Бедного Улица",
            "Депутатская Улица",
            "Дербышевский Переулок",
            "Дзержинского Улица",
            "Днепровский Переулок",
            "Добролюбова Переулок",
            "Добрый Переулок",
            "Донской Переулок",
            "Дормаш Улица",
            "Дорожный Переулок",
            "Дорожный Проезд",
            "Достоевского Улица",
            "Дружбы Улица",
            "Дружбы Проезд",
            "Дубовый Переулок",
            "Дунайский Переулок",
            "Елизаровых Улица",
            "Елочная Улица",
            "Енисейская Улица",
            "Ермаковский Переулок",
            "Железнодорожная Улица",
            "Железнодорожный Переулок",
            "Жигулевская Улица",
            "Жигулевский Проезд",
            "Жуковского Переулок",
            "Жуковского Улица",
            "Заварзино-Радиостанция Поселок",
            "Заварзинский Переулок",
            "Завокзальная Улица",
            "Загорная Улица",
            "Залесская Улица",
            "Заливная Улица",
            "Залоговая Улица",
            "Заозерный Переулок",
            "Западный Переулок",
            "Западный Проезд",
            "Заречная Улица",
            "Заречная 1-я Улица",
            "Заречная 2-я Улица",
            "Заречная 3-я Улица",
            "Заречная 4-я Улица",
            "Заречная 5-я Улица",
            "Заречный уч-к Улица",
            "Затеевский Переулок",
            "Зеленый Переулок",
            "Зои Космодемьянской Улица",
            "Золотистая Улица",
            "Зырянский Переулок",
            "Ивана Черных Улица",
            "Ивановского Улица",
            "Игарская Улица",
            "Ижевская Улица",
            "Измайловская Улица",
            "Измайловский Переулок",
            "Изыскателей Улица",
            "имени академика Зуева Площадь",
            "Индустриальная Улица",
            "Инженерный Переулок",
            "Инструментальный Переулок",
            "Интернационалистов Улица",
            "Иркутский Тракт",
            "Иркутский Проезд",
            "Иркутский Переулок",
            "Иртышская Улица",
            "Источная Улица",
            "Источный Переулок",
            "Ишимский Переулок",
            "Кабельный Проезд",
            "Казанский 1-й Переулок",
            "Казанский 2-й Переулок",
            "Казанский 3-й Переулок",
            "Казахский Переулок",
            "Калинина Улица",
            "Калужская Улица",
            "Калужский Проезд",
            "Каменская Улица",
            "Камский Переулок",
            "Камышовая Улица",
            "Канский Переулок",
            "Карла Ильмера Улица",
            "Карла Маркса Улица",
            "Карпова Улица",
            "Карповский Переулок",
            "Карский Переулок",
            "Картасный Переулок",
            "Карташова Улица",
            "Карьерный Переулок",
            "Каскад Микрорайон",
            "Каспийская Улица",
            "Катунская Улица",
            "Каховская Улица",
            "Кедровая Улица",
            "Кедровый Переулок",
            "Кемеровская Улица",
            "Керепетский Переулок",
            "Киевская Улица",
            "Киргизка Поселок",
            "Киргизский Переулок",
            "Кирова Проспект",
            "Кирова Площадь",
            "Кирпичная Улица",
            "Кирпичный Переулок",
            "Кирпичный Проезд",
            "Китайский Переулок",
            "Кленовый Переулок",
            "Клюева Улица",
            "Ключевской Проезд",
            "Ковыльная Улица",
            "Кожевниковский Переулок",
            "Коларовский Тракт",
            "Колхозная Улица",
            "Кольцевой Проезд",
            "Комсомольский Проспект",
            "Комсомольский Переулок",
            "Конечный Переулок",
            "Конная Площадь",
            "Кононова Переулок",
            "Константина Лыгина Улица",
            "Континентальная Улица",
            "Контрастная Улица",
            "Кооперативный Переулок",
            "Копылова Улица",
            "Кордон 2 Улица",
            "Корейский Переулок",
            "Королева Улица",
            "Короленко Улица",
            "Косарева Улица",
            "Космическая Улица",
            "Костромская Улица",
            "Котовского Улица",
            "Кошурникова Улица",
            "Красноармейская Улица",
            "Красноармейский Переулок",
            "Красногвардейская Улица",
            "Красного Пожарника Переулок",
            "Краснодонская Улица",
            "Краснознаменная Улица",
            "Краснознаменный Переулок",
            "Красноярская Улица",
            "Крепежная Улица",
            "Крестьянский Переулок",
            "Кривая Улица",
            "Кривоносенко Улица",
            "Крутой Переулок",
            "Крутоовражный Поселок",
            "Крылова Улица",
            "Крымская Улица",
            "Ксензовка Поселок",
            "Кубанская Улица",
            "Кузнецкий Переулок",
            "Кузнецова Улица",
            "Кузнечный Проезд",
            "Кузнечный взвоз Улица",
            "Кузовлевский Тракт",
            "Кузовлевское тепличное хозяйство Территория",
            "Куйбышева Улица",
            "Куйбышева Проезд",
            "Кулагина Улица",
            "Кулева Улица",
            "Курганский Переулок",
            "Курский Переулок",
            "Кустарный Переулок",
            "Кутузова Улица",
            "Лазарева Улица",
            "Ламповый Переулок",
            "Латвийский Переулок",
            "Лебедева Улица",
            "Левобережная Улица",
            "Левобережный Переулок",
            "Ленина Проспект",
            "Ленина Площадь",
            "Ленинградская Улица",
            "Ленская Улица",
            "Лермонтова Улица",
            "Лесная Улица",
            "Лесная 1-я Улица",
            "Лесная 2-я Улица",
            "Лесная 3-я Улица",
            "Лесной Переулок",
            "Лесной Проезд",
            "Лесной 3-й Переулок",
            "Лесозащитная Улица",
            "Лесопитомник Станция",
            "Лизы Чайкиной Улица",
            "Локомотивный Переулок",
            "Ломоносова Улица",
            "ЛПК 2-й Поселок",
            "Луговая Улица",
            "Луговой Переулок",
            "Льва Толстого Улица",
            "Любы Шевцовой Улица",
            "Магнитогорский Переулок",
            "Майская Улица",
            "Макаренко Улица",
            "Макарова Улица",
            "Макушина Переулок",
            "Макушина Улица",
            "Малая Подгорная Улица",
            "Малиновая Улица",
            "Малиновый Проезд",
            "Мало-Кирпичный Переулок",
            "Малый Переулок",
            "Малый трамплин Улица",
            "Мамонтова Улица",
            "Мариинский Переулок",
            "Матросова Улица",
            "Маяковского Улица",
            "Междугородная Улица",
            "Мельничная Улица",
            "Мельничный Переулок",
            "Менделеева Улица",
            "Механизатор Микрорайон",
            "Механический Переулок",
            "Мечникова Улица",
            "Минина Улица",
            "Минина Переулок",
            "Мира Проспект",
            "Мирный Переулок",
            "Михаила Сычева Проезд",
            "Мичурина Улица",
            "Мичурина Переулок",
            "Мокрушина Улица",
            "Молдавская Улица",
            "Молодежная Улица",
            "Морской Переулок",
            "Моряковский Переулок",
            "Москвитина Улица",
            "Московский Тракт",
            "Мостовая Улица",
            "Мостовая 1-я Улица",
            "Мостовой Переулок",
            "Мостовой 1-й Переулок",
            "Моторный Переулок",
            "Моховой Переулок",
            "МПС Улица",
            "Музыкальный Переулок",
            "Мусы Джалиля Улица",
            "Мясокомбинат Поселок",
            "Набережная озера Улица",
            "Набережная реки Томи Улица",
            "Набережная реки Ушайки Улица",
            "Нагорная Улица",
            "Нагорный Переулок",
            "Народная Улица",
            "Нарымская Улица",
            "Наумова Улица",
            "Научная Улица",
            "Научный Проезд",
            "Нахановича Переулок",
            "Нахимова Переулок",
            "Нахимова Улица",
            "Невская Улица",
            "Некрасова Улица",
            "Некрасова Переулок",
            "Нефтяная Улица",
            "Нефтяной 1-й Поселок",
            "Нефтяной 2-й Поселок",
            "Нечевский Переулок",
            "Нижне-Луговая Улица",
            "Нижне-Складская Улица",
            "Нижне-Складской Проезд",
            "Нижне-Складской Переулок",
            "Нижний Переулок",
            "Никитина Улица",
            "Николая Рукавишникова Улица",
            "Новаторский Переулок",
            "Новая Улица",
            "Новгородская Улица",
            "Ново-Ачинская Улица",
            "Ново-Деповская Улица",
            "Ново-Деповская 1-я Улица",
            "Ново-Деповская 2-я Улица",
            "Ново-Киевская Улица",
            "Ново-Киевская 1-я Улица",
            "Ново-Киевская 2-я Улица",
            "Ново-Киевская 3-я Улица",
            "Ново-Кузнечный 1-й ряд Улица",
            "Ново-Кузнечный 2-й ряд Улица",
            "Ново-Соборная Площадь",
            "Ново-Станционный Переулок",
            "Ново-Чулымский Переулок",
            "Новокарьерная Улица",
            "Новороссийская Улица",
            "Новоселов Улица",
            "Новосибирская Улица",
            "Новосибирский Переулок",
            "Новособорная Площадь",
            "Новостройка Улица",
            "Новый Переулок",
            "Обнорского Улица",
            "Обруб Улица",
            "Обручева Переулок",
            "Обручева Улица",
            "Обская Улица",
            "Обской Переулок",
            "Овражный Переулок",
            "Одесская Улица",
            "Озерный Переулок",
            "Октябрьская Улица",
            "Октябрьский взвоз Улица",
            "Олега Кошевого Улица",
            "Олимпийская Улица",
            "Омская Улица",
            "Омский Переулок",
            "Опытный участок Ботанического сада Улица",
            "Оренбургская Улица",
            "Орловский Переулок",
            "Осенний Переулок",
            "Осенняя Улица",
            "Осетровая Улица",
            "Осипова Улица",
            "Островского Николая Переулок",
            "Офицерский Переулок",
            "Охотский Переулок",
            "Павла Нарановича Улица",
            "Павлова Улица",
            "Панфиловский Переулок",
            "Парабельский Переулок",
            "Парбигский Переулок",
            "Парковая Улица",
            "Паровозный Проезд",
            "Паровозный Переулок",
            "Партизанская Улица",
            "Пархоменко Улица",
            "Пастера Улица",
            "Первомайская Улица",
            "Первомайский Переулок",
            "Перевалочный Переулок",
            "Переездный Переулок",
            "Песочный Переулок",
            "Петлина Улица",
            "Петра Федоровского Улица",
            "Петропавловская Улица",
            "Пионерская Улица",
            "Пионерский Переулок",
            "Пирогова Улица",
            "Пирусского Улица",
            "Писемского Улица",
            "Пихтовый Переулок",
            "Плавниковая Улица",
            "Плеханова Переулок",
            "Победы Улица",
            "Погрузконтора Улица",
            "Подшипниковый Переулок",
            "Пожарского Улица",
            "Пожарского Переулок",
            "Пойменный Переулок",
            "Полевая Улица",
            "Ползунова Улица",
            "Полины Осипенко Улица",
            "Полины Осипенко Переулок",
            "Полтавский Переулок",
            "Полынная Улица",
            "Польская Улица",
            "Поляночная Улица",
            "Полярная Улица",
            "Попова Михаила Улица",
            "Потанина Улица",
            "Правобережная Улица",
            "Предвокзальная Улица",
            "Пржевальского Улица",
            "Пржевальского Переулок",
            "Прибрежная Улица",
            "Приветливая Улица",
            "Привокзальная Площадь",
            "Привольная Улица",
            "Пригородная Улица",
            "Приозерная Улица",
            "Приречная Улица",
            "Пристанской Переулок",
            "Приточная Улица",
            "Причальная Улица",
            "Пришвина Переулок",
            "Пришвина Улица",
            "Проектируемая Улица",
            "Проектируемый Проезд",
            "Проектируемый Переулок",
            "Производственный Переулок",
            "Пролетарская Улица",
            "Пролетарский Переулок",
            "Промышленный Переулок",
            "Пропиточная Улица",
            "Просторный Переулок",
            "Проточная Улица",
            "Профсоюзная Улица",
            "Прохладный Переулок",
            "Психобольницы Корпуса Улица",
            "Пугачева Емельяна Улица",
            "Пугачева Емельяна Переулок",
            "Путевой Переулок",
            "Путевой Проезд",
            "Путейская Улица",
            "Пушкина Улица",
            "Пушкина Переулок",
            "Рабочая Улица",
            "Рабочая 1-я Улица",
            "Рабочая 2-я Улица",
            "Рабочая 3-я Улица",
            "Рабочий Переулок",
            "Радиостанция 16 Улица",
            "Радищева Переулок",
            "Радужный Переулок",
            "Развития Проспект",
            "Раздольная Улица",
            "Ракетная Улица",
            "Революционная Улица",
            "Революционный Переулок",
            "Реженка Улица",
            "Рельефная Улица",
            "Репина Улица",
            "Республиканская Улица",
            "Речной Переулок",
            "Розы Люксембург Улица",
            "Ромашковая Улица",
            "Ростовский Переулок",
            "Рузского Улица",
            "Румынский Переулок",
            "Русский Переулок",
            "Ручейная Улица",
            "Рыбацкая Улица",
            "Рылеева Переулок",
            "Рябиновая Улица",
            "Савиных Улица",
            "Садовая Улица",
            "Садовый Переулок",
            "Сакко Переулок",
            "Салтыкова-Щедрина Улица",
            "Санаторная Улица",
            "Сахалинский Переулок",
            "Свердлова Улица",
            "Светлый Переулок",
            "Свободный Переулок",
            "Севастопольская Улица",
            "Северный Городок",
            "Северный городок Улица",
            "Северо-Казанская Улица",
            "Северо-Каштачная Улица",
            "Северо-Каштачный Поселок",
            "Северо-Каштачный 1-й Переулок",
            "Северо-Каштачный 2-й Переулок",
            "Селькупская Улица",
            "Сельская Улица",
            "Сельскохозяйственная Улица",
            "Семафорный Переулок",
            "Сенная курья Улица",
            "Серафимовича Улица",
            "Сергея Вицмана Улица",
            "Сергея Лазо Переулок",
            "Сергея Лазо Улица",
            "Сибирская Улица",
            "Сиреневая Улица",
            "Складской Переулок",
            "Славянский Переулок",
            "Смирнова Улица",
            "Смоленский Переулок",
            "Снежная Улица",
            "Советская Улица",
            "Совпартшкольный Переулок",
            "Совхозная Улица",
            "Совхозный 1-й Поселок",
            "Совхозный 2-й Поселок",
            "Созидания Улица",
            "Солнечная Улица",
            "Солнечный Переулок",
            "Соляная Площадь",
            "Соляной Переулок",
            "Сосновый Переулок",
            "Сосновый Проезд",
            "Социалистическая Улица",
            "Социалистический Проезд",
            "Спичечный Переулок",
            "Сплавная Улица",
            "Сплавной 1-й Переулок",
            "Сплавной 2-й Переулок",
            "Сплавной 3-й Переулок",
            "Сплавной 4-й Переулок",
            "Спортивный Переулок",
            "Спутник Поселок",
            "Средне-Кирпичная Улица",
            "Ставропольский Переулок",
            "Стадионная Улица",
            "Станиславского Улица",
            "Старо-Деповская Улица",
            "Старо-Деповской Поселок",
            "Старо-Деповской Переулок",
            "Старо-Карьерная Улица",
            "Старо-Карьерный Поселок",
            "Старо-Кузнечный ряд Улица",
            "Старый аэропорт Поселок",
            "Степана Разина Переулок",
            "Степана Разина Улица",
            "Степановская Улица",
            "Степановский Переулок",
            "Степная Улица",
            "Степная 1-я Улица",
            "Степная 2-я Улица",
            "Степная 3-я Улица",
            "Степная 4-я Улица",
            "Степная 5-я Улица",
            "Степная 6-я Улица",
            "Стрелочная Улица",
            "Стрелочный Переулок",
            "Стрелочный 1-й Переулок",
            "Стрелочный 2-й Переулок",
            "Строевая Улица",
            "Строительный Переулок",
            "Студгородок Улица",
            "Студенческая Улица",
            "Студенческий городок Улица",
            "Суворова Улица",
            "Суходольная Улица",
            "Сухоозерный Переулок",
            "Сухумская Улица",
            "Сычева Михаила Улица",
            "Сычева Михаила Переулок",
            "Таврическая Улица",
            "Таджикский Переулок",
            "Таежная Улица",
            "Таежный Переулок",
            "Тайгинский Переулок",
            "Таймырский Переулок",
            "Тальниковая Улица",
            "Татарская Улица",
            "Тверская Улица",
            "Тверской Проезд",
            "Телевизионный Переулок",
            "Тенистая Улица",
            "Техническая Улица",
            "Тимакова Улица",
            "Тимофеева Улица",
            "Типографский Переулок",
            "Тихий Переулок",
            "Тихий тупик Улица",
            "Томск-Северный МПС Улица",
            "Томская Улица",
            "Торговая Улица",
            "Тояновская Улица",
            "Тояновский Поселок",
            "Травяная Улица",
            "Трамвайная Улица",
            "Транспортная Улица",
            "Транспортный Проезд",
            "Трифонова Улица",
            "Трудовая Улица",
            "Туганский Переулок",
            "Тульский Переулок",
            "Тульский Проезд",
            "Тупиковый Переулок",
            "Тургенева Переулок",
            "Тургенева Улица",
            "Туристский Переулок",
            "Туркменский Переулок",
            "Тюменский Переулок",
            "Тютчева Улица",
            "Тяговая Улица",
            "Угольный Поселок",
            "Угрюмова Александра Улица",
            "Узбекский Переулок",
            "Украинская Улица",
            "Украинский Переулок",
            "Уральский Переулок",
            "Урицкого Улица",
            "Урманская Улица",
            "Урожайный Переулок",
            "Урочинский Переулок",
            "Усова Улица",
            "Успенского Переулок",
            "Усть-Керепеть Улица",
            "Усть-Киргизка 1-я Улица",
            "Усть-Киргизка 2-я Улица",
            "Усть-Киргизка 3-я Улица",
            "Усть-Киргизка 4-я Улица",
            "Усть-Киргизка 5-я Улица",
            "Усть-Киргизка 6-я Улица",
            "Усть-Киргизский 2-й Тупик",
            "Учебная Улица",
            "Учительская Улица",
            "Учхоз Поселок",
            "Федора Лыткина Улица",
            "Ферганская Улица",
            "Ференца Мюнниха Улица",
            "Фестивальная Улица",
            "Флотский Переулок",
            "Фруктовый Переулок",
            "Фрунзе Проспект",
            "Фурманова Переулок",
            "Хабаровская Улица",
            "Харьковская Улица",
            "Хромовка Поселок",
            "Цветаевой Улица",
            "Цветочный Переулок",
            "Целинный Переулок",
            "Центральная Улица",
            "Циолковского Улица",
            "Чаинский Переулок",
            "Чапаева Улица",
            "Чекистский Тракт",
            "Челюскинцев Улица",
            "Челюскинцев Переулок",
            "Чепалова Улица",
            "Черемошинский Переулок",
            "Черемуховая Улица",
            "Черноморская Улица",
            "Чернышевского Переулок",
            "Чехова Переулок",
            "Чехословацкая Улица",
            "Читинская Улица",
            "Чкалова Улица",
            "Чувашский Переулок",
            "Чулымская Улица",
            "Чулымский Тракт",
            "Шевченко Улица",
            "Шегарский Переулок",
            "Шегарский Тракт",
            "Шишкова Улица",
            "Школьная Улица",
            "Школьный Переулок",
            "Школьный Тупик",
            "Шпальная Улица",
            "Шпальный Переулок",
            "Шумихинский Переулок",
            "Щетинкина Улица",
            "Щорса Улица",
            "Энергетиков Улица",
            "Энергетическая Улица",
            "Энергетический Переулок",
            "Энтузиастов Улица",
            "Эуштинская Улица",
            "Южный Переулок",
            "Юргинская Улица",
            "Юрия Ковалева Улица",
            "Юрточный Переулок",
            "Ягодная Улица",
            "Якимовича Улица",
            "Яковлева Улица",
            "Ялтинская Улица",
            "Яркая Улица",
            "Ярославская Улица",
            "Ярославский Переулок",
            "Ярский Переулок",
            "Ясная Улица",
            "Ясный Переулок"
        ];
        $("#type_street").autocomplete({
            source: type_street
        });

        $('#full_street').autocomplete({
            // select: function (event, ui) {
            //     "use strict";
            //     alert('select event called');
            //     //alert(ui.item.value);
            // },
            source: full_street,
            minLength: 2,
            change: function (event, ui) {
                var street_name = '';
                var street_type = '';
                if (ui.item) {
                    var street = ui.item.value.match( /^(.*) ([А-Я].*)$/i );
                    street_name =  street[1];
                    street_type =  street[2];
                    $('#street_name').val(street_name);
                    $('#type_street').val(street_type);
                }
            }
        });

        $("#region").autocomplete({
            source: region
        });
        $("#city").autocomplete({
            source: city
        });

    })
    ;
</script>
