<%= form_with(model: search_query, local: true) do |form| %>
  <% if search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_query.errors.count, "error") %>
        prohibited this search_query from being saved:</h2>

      <ul>
        <% search_query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new?kdasrt=true'">Кадастр</div>
    <div class="btn btn-outline-secondary" onClick="javascript:window.location.href='/search_queries/new'">Адрес</div>
  </div>

  <div class="form-group">
    <%= form.label 'Описание запроса' %>
    <%= form.text_field :title, placeholder: 'Дело № 11', class: 'form-control', required: true %>
  </div>
  <br>
  <%= form.nested_fields_for :locations, Location.new do |location_form| %>
    <div class="panel">

      <div class="form-group">
        <%= location_form.label 'Область' %>
        <%= location_form.text_field :region, id: 'region', placeholder: 'Область', class: 'form-control', required: true %>
      </div>

      <% if params[:kdasrt] %>
        <div class="form-group">
          <%= location_form.label 'Кадастровый номер' %>
          <%= location_form.text_field :kdastr_id, placeholder: 'Кадастровый номер', class: 'form-control', required: true %>
          <%= location_form.hidden_field :use_kdastr, value: true %>
        </div>
      <% else %>
        <div class="form-group">
          <%= location_form.label 'Город (Район)' %>
          <%= location_form.text_field :district, placeholder: 'Город (Район)', class: 'form-control', value: 'Томск', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Населенный пункт' %>
          <%= location_form.text_field :populated_area, placeholder: 'Населенный пункт', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Тип улицы' %>
          <%= location_form.text_field :street_type, id: 'type_street', placeholder: 'Тип улицы', class: 'form-control', value: 'Улица', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Название улицы' %>
          <%= location_form.text_field :street_name,  id: 'street', placeholder: 'Название улицы', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Номер дома' %>
          <%= location_form.text_field :house_number, placeholder: 'Номер дома', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= location_form.label 'Квартира' %>
          <%= location_form.text_field :apartment, placeholder: 'Квартира', class: 'form-control' %>
        </div>

      <% end %>
      <div class="form-group">
        <%= form.add_nested_fields_link :locations, 'Добавить новый адрес' %>
        |
        <%= location_form.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit 'Создать запрос', class: 'btn btn-outline-success' %>
  </div>
<% end %>

<script>
  $(function() {
    var type_street = [
      "Улица", "Переулок", "Проспект", "Площадь", "Микрорайон", "Аллея",
      "Бульвар", "Аал", "Аул", "Въезд", "Выселки", "Городок", "Деревня",
      "Дорога", "ж/д остановочный (обгонный) пункт", "Железнодорожная будка",
      "Железнодорожная казарма", "Железнодорожная платформа",
      "Железнодорожная станция", "Железнодорожный пост",
      "Железнодорожный разъезд", "Животноводческая точка", "Заезд", "Казарма",
      "Квартал", "Километр", "Кольцо", "Линия", "Местечко", "Набережная",
      "Населенный пункт", "Остров", "Парк", "Переезд", "Планировочный район",
      "Платформа", "Площадка", "Полустанок", "Поселок/станция",
      "Поселок сельского типа", "Починок", "Почтовое отделение", "Проезд",
      "Просек", "Проселок", "Проулок", "Разъезд", "Сад", "Село", "Сквер",
      "Слобода", "Станция", "Строение", "Территория", "Тракт", "Тупик",
      "Участок", "Хутор", "Шоссе"
    ];
    var region = [
      "Ямало-Ненецкий АО", "Краснодарский край", "Алтайский край",
      "Красноярский край", "Ставропольский край", "Приморский край",
      "Белгородская область", "Брянская область", "Хабаровский край",
      "Астраханская область", "Архангельская область", "Ненецкий АО",
      "Амурская область", "Вологодская область", "Волгоградская область",
      "Владимирская область", "Нижегородская область", "Воронежская область",
      "Иркутская область", "Республика Ингушетия", "Калининградская область",
      "Ивановская область", "Тверская область", "Кировская область",
      "Кемеровская область", "Камчатский край", "Калужская область",
      "Самарская область", "Костромская область", "Липецкая область",
      "Ленинградская область", "Курская область", "Санкт-Петербург",
      "Мурманская область", "Курганская область", "Новгородская область",
      "Москва", "Магаданская область", "Московская область",
      "Оренбургская область", "Омская область", "Орловская область",
      "Новосибирская область", "Пермский край", "Псковская область",
      "Пензенская область", "Ростовская область", "Саратовская область",
      "Свердловская область", "Сахалинская область", "Рязанская область",
      "Тамбовская область", "Тульская область", "Томская область",
      "Смоленская область", "Ульяновская область", "Забайкальский край",
      "Челябинская область", "Тюменская область", "Ханты-Мансийский АО",
      "Республика Адыгея", "Республика Башкортостан", "Чукотский АО",
      "Ярославская область", "Республика Алтай", "Республика Калмыкия",
      "Республика Марий Эл", "Кабардино-Балкарская Республика",
      "Республика Коми", "Республика Карелия",
      "Республика Бурятия", "Республика Дагестан", "Республика Тыва",
      "Удмуртская Республика", "Республика Татарстан", "Республика Северная Осетия",
      "Карачаево-Черкесская Республика", "Республика Саха (Якутия)",
      "Чеченская Республика", "Чувашская Республика", "Республика Хакасия",
      "Республика Мордовия", "Еврейская А.обл.", "Республика Крым",
      "Севастополь"
    ];
    var street = [
      "19-й Гвардейской дивизии", "30-летия Победы", "350-летия г. Томска",
      "5-й Армии", "79-й Гвардейской дивизии", "Азербайджанская", "Азиатская",
      "Айвазовского", "Академика Пилюгина", "Александра Невского", "Алеутская",
      "Алтайская", "Амурская", "Ангарская", "Андрея Крячкова", "Аркадия Иванова",
      "Артема", "Архитекторов", "Асиновская", "Ачинская", "Аэродромная", "Бакунина",
      "Балагурная", "Балтийская", "Баратынского", "Баргузинская", "Барнаульская",
      "Бархатная", "Басандайская", "Батистовая", "Баумана", "Бела Куна", "Белая",
      "Беленца Алексея", "Белинского", "Белозерская", "Беломорская", "Бердская",
      "Березовая", "Беринга", "Бийская", "Бирюкова", "Блокпост", "Богдана Хмельницкого",
      "Болотникова Ивана", "Больничная", "Большая Каштачная", "Большая Подгорная", "Боровая",
      "Бородинская", "Братская", "Братьев Васильевых", "Брянская", "Булгакова", "Буткеевская",
      "Вавилова", "Васюганская", "Ватутина", "Венгерская", "Вершинина", "Весенняя", "Ветровая",
      "Ветряная", "Виктора Хабарова", "Вилюйская", "Витимская", "Водопроводная", "Водяная",
      "Войкова", "Войлочная", "Войлочная заимка", "Вокзальная", "Волгоградская", "Волжская",
      "Воскресенский взвоз", "Восточная", "Высоцкого Владимира", "Гагарина", "Гамалея",
      "Географическая", "Герасименко", "Героев Чубаровцев", "Герцена", "Говорова",
      "Гоголя", "Горького Максима", "Грибная", "Грибоедова", "Григорьева", "Грузинская",
      "Грунтовая", "Дальне-Ключевская", "Дальневосточная", "Дальняя", "Дамбовая",
      "Дачная 1-я", "Дачная 2-я", "Демьяна Бедного", "Депутатская", "Дзержинского",
      "Дормаш", "Достоевского", "Дружбы", "Елизаровых", "Елочная", "Енисейская",
      "Железнодорожная", "Жигулевская", "Жуковского", "Завокзальная", "Загорная",
      "Залесская", "Заливная", "Залоговая", "Заречная", "Заречная 1-я", "Заречная 2-я",
      "Заречная 3-я", "Заречная 4-я", "Заречная 5-я", "Заречный уч-к", "Зои Космодемьянской",
      "Золотистая", "Ивана Черных", "Ивановского", "Игарская", "Ижевская", "Измайловская",
      "Изыскателей", "Индустриальная", "Интернационалистов", "Иртышская", "Источная",
      "Калинина", "Калужская", "Каменская", "Камышовая", "Карла Ильмера", "Карла Маркса",
      "Карпова", "Карташова", "Каспийская", "Катунская", "Каховская", "Кедровая",
      "Кемеровская", "Киевская", "Кирпичная", "Клюева", "Ковыльная", "Колхозная",
      "Константина Лыгина", "Континентальная", "Контрастная", "Копылова", "Кордон 2",
      "Королева", "Короленко", "Косарева", "Космическая", "Костромская", "Котовского",
      "Кошурникова", "Красноармейская", "Красногвардейская", "Краснодонская",
      "Краснознаменная", "Красноярская", "Крепежная", "Кривая", "Кривоносенко",
      "Крылова", "Крымская", "Кубанская", "Кузнецова", "Кузнечный взвоз", "Куйбышева",
      "Кулагина", "Кулева", "Кутузова", "Лазарева", "Лебедева", "Левобережная",
      "Ленинградская", "Ленская", "Лермонтова", "Лесная", "Лесная 1-я", "Лесная 2-я",
      "Лесная 3-я", "Лесозащитная", "Лизы Чайкиной", "Ломоносова", "Луговая",
      "Льва Толстого", "Любы Шевцовой", "Майская", "Макаренко", "Макарова",
      "Макушина", "Малая Подгорная", "Малиновая", "Малый трамплин", "Мамонтова",
      "Матросова", "Маяковского", "Междугородная", "Мельничная", "Менделеева",
      "Мечникова", "Минина", "Мичурина", "Мокрушина", "Молдавская", "Молодежная",
      "Москвитина", "Мостовая", "Мостовая 1-я", "МПС", "Мусы Джалиля", "Набережная озера",
      "Набережная реки Томи", "Набережная реки Ушайки", "Нагорная", "Народная",
      "Нарымская", "Наумова", "Научная", "Нахимова", "Невская", "Некрасова",
      "Нефтяная", "Нижне-Луговая", "Нижне-Складская", "Никитина", "Николая Рукавишникова",
      "Новая", "Новгородская", "Ново-Ачинская", "Ново-Деповская", "Ново-Деповская 1-я",
      "Ново-Деповская 2-я", "Ново-Киевская", "Ново-Киевская 1-я", "Ново-Киевская 2-я",
      "Ново-Киевская 3-я", "Ново-Кузнечный 1-й ряд", "Ново-Кузнечный 2-й ряд",
      "Новокарьерная", "Новороссийская", "Новоселов", "Новосибирская", "Новостройка",
      "Обнорского", "Обруб", "Обручева", "Обская", "Одесская", "Октябрьская",
      "Октябрьский взвоз", "Олега Кошевого", "Олимпийская", "Омская",
      "Опытный участок Ботанического сада", "Оренбургская", "Осенняя", "Осетровая",
      "Осипова", "Павла Нарановича", "Павлова", "Парковая", "Партизанская",
      "Пархоменко", "Пастера", "Первомайская", "Петлина", "Петра Федоровского",
      "Петропавловская", "Пионерская", "Пирогова", "Пирусского", "Писемского",
      "Плавниковая", "Победы", "Погрузконтора", "Пожарского", "Полевая", "Ползунова",
      "Полины Осипенко", "Полынная", "Польская", "Поляночная", "Полярная",
      "Попова Михаила", "Потанина", "Правобережная", "Предвокзальная", "Пржевальского",
      "Прибрежная", "Приветливая", "Привольная", "Пригородная", "Приозерная",
      "Приречная", "Приточная", "Причальная", "Пришвина", "Проектируемая", "Пролетарская",
      "Пропиточная", "Проточная", "Профсоюзная", "Психобольницы Корпуса",
      "Пугачева Емельяна", "Путейская", "Пушкина", "Рабочая", "Рабочая 1-я", "Рабочая 2-я",
      "Рабочая 3-я", "Радиостанция 16", "Раздольная", "Ракетная", "Революционная", "Реженка",
      "Рельефная", "Репина", "Республиканская", "Розы Люксембург", "Ромашковая", "Рузского",
      "Ручейная", "Рыбацкая", "Рябиновая", "Савиных", "Садовая", "Салтыкова-Щедрина",
      "Санаторная", "Свердлова", "Севастопольская", "Северный городок", "Северо-Казанская",
      "Северо-Каштачная", "Селькупская", "Сельская", "Сельскохозяйственная", "Сенная курья",
      "Серафимовича", "Сергея Вицмана", "Сергея Лазо", "Сибирская", "Сиреневая",
      "Смирнова", "Снежная", "Советская", "Совхозная", "Созидания", "Солнечная",
      "Социалистическая", "Сплавная", "Средне-Кирпичная", "Стадионная", "Станиславского",
      "Старо-Деповская", "Старо-Карьерная", "Старо-Кузнечный ряд", "Степана Разина",
      "Степановская", "Степная", "Степная 1-я", "Степная 2-я", "Степная 3-я", "Степная 4-я",
      "Степная 5-я", "Степная 6-я", "Стрелочная", "Строевая", "Студгородок", "Студенческая",
      "Студенческий городок", "Суворова", "Суходольная", "Сухумская", "Сычева Михаила",
      "Таврическая", "Таежная", "Тальниковая", "Татарская", "Тверская", "Тенистая",
      "Техническая", "Тимакова", "Тимофеева", "Тихий тупик", "Томск-Северный МПС",
      "Томская", "Торговая", "Тояновская", "Травяная", "Трамвайная", "Транспортная",
      "Трифонова", "Трудовая", "Тургенева", "Тютчева", "Тяговая", "Угрюмова Александра",
      "Украинская", "Урицкого", "Урманская", "Усова", "Усть-Керепеть", "Усть-Киргизка 1-я",
      "Усть-Киргизка 2-я", "Усть-Киргизка 3-я", "Усть-Киргизка 4-я", "Усть-Киргизка 5-я",
      "Усть-Киргизка 6-я", "Учебная", "Учительская", "Федора Лыткина", "Ферганская",
      "Ференца Мюнниха", "Фестивальная", "Хабаровская", "Харьковская", "Цветаевой",
      "Центральная", "Циолковского", "Чапаева", "Челюскинцев", "Чепалова",
      "Черемуховая", "Черноморская", "Чехословацкая", "Читинская", "Чкалова",
      "Чулымская", "Шевченко", "Шишкова", "Школьная", "Шпальная", "Щетинкина",
      "Щорса", "Энергетиков", "Энергетическая", "Энтузиастов", "Эуштинская",
      "Юргинская", "Юрия Ковалева", "Ягодная", "Якимовича", "Яковлева", "Ялтинская",
      "Яркая", "Ярославская", "Ясная"
    ];
    $("#type_street").autocomplete({
      source: type_street
    });
    $("#street").autocomplete({
      source: street
    });
    $("#region").autocomplete({
      source: region
    });
  });
</script>
