<p>
  id:
   <strong><%= @search_query.id.to_s %></strong>
</p>

<p>
  <span class="badge"><%= "#{@search_query.status} - #{@search_query.counter}" %></span>
</p>

<p>
    Название:
<strong>
  <%= @search_query.title %>
</strong>
</p>

<%= form_for @search_query do |f| %>
  <%= f.hidden_field :archive, value: true %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to 'PDF',  download_search_query_path(@search_query), class: 'btn btn-outline-primary' %>
    <%= f.submit 'В архив', class: 'btn btn-outline-warning' %>
    <%= link_to 'Удаление', @search_query, class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>

<p>
    Адрес:
<ul>
  <% @search_query.locations.each do |location| %>
    <li>
      <span class="badge"><%= location.status %></span>
      <%= location.full_address %>
    </li>
    <br>
    <div class="btn-group" role="group">
      <%= link_to 'Детали', search_query_location_path(@search_query, location), class: 'btn btn-outline-info' %>
      <%= link_to 'Скачать', download_search_query_location_path(@search_query, location), class: 'btn btn-outline-primary' %>
     </div>
  <% end %>
</ul>
</p>

<p>
  <button id="log_btn" data-toggle="collapse" class="btn btn-outline-secondary" data-target="#show_logs">
    Журнал событий
  </button>
</p>
<div id="show_logs" class="collapse">
  <pre id='logs'>
  </pre>
</div>
<script>
    $("#log_btn").click(function () {
        var search_query_id = '<%= @search_query.id %>'
        $.getJSON("/search_queries/" + search_query_id + "/log.json", function (data) {
            console.log(data);
            $("#logs").text(data.log);
        });
    });
</script>

<%= link_to 'Назад', search_queries_path, class: 'btn btn-outline-success' %>
