<p>
  <strong> ID:</strong>
  <%= @search_query.id.to_s %>
</p>

<p>
  <%= @search_query.status %> <span class="badge"><%= @search_query.counter %></span>
</p>

<p>
  <strong>Название:</strong>
  <%= @search_query.title %>
</p>

<p>
  <strong>Адрес:</strong>
<ul>
  <% @search_query.locations.each do |location| %>
    <li>
      <span class="badge"><%= location.status %></span>
      <%= "обл. #{location.region}, ул. #{location.street_name}, д. #{location.house_number} кв. #{location.apartment}" %>
    </li>
    <br>
    <div class="btn-group" role="group">
      <%= link_to 'Детали', search_query_location_path(@search_query, location), class: 'btn btn-outline-info' %>
      <%= link_to 'Архив', download_search_query_location_path(@search_query, location), class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
</ul>
</p>

<%= link_to 'Назад', search_queries_path, class: 'btn btn-outline-success' %>
