<p> <span class="badge"><%= @location.status %></span> </p>
<p>ID: <strong><%= @location.id.to_s %></strong></p>
<p>Кадастр - <strong><%= @location.kdastr_id %></strong></p>
<p>Область - <strong><%= @location.region %></strong></p>
<p>Город (Район) - <strong><%= @location.district %></strong></p>
<p>Населенный пункт - <strong><%= @location.populated_area %></strong></p>
<p>Тип улицы - <strong><%= @location.street_type %></strong></p>
<p>Название улицы - <strong><%= @location.street_name %></strong></p>
<p>Номер дома - <strong><%= @location.house_number %></strong></p>
<p>Квартира - <strong><%= @location.apartment %></strong></p>
<p>Поиск uid - <strong><%= @location.search_uid %></strong></p>
<p>Скачать - <%= link_to 'Архив', download_search_query_location_path(@search_query, @location), class: 'btn btn-outline-primary' %></p>
<%= link_to "Назад", search_query_path(@search_query), class: 'btn btn-outline-success' %>
