<!DOCTYPE html>
<html>
<head>
  <title>Hawthorn Reestr Service</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.6.0/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<%= render partial: "navbar" %>
<%= render partial: "notices" %>
<br>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
